[Unit]
Description=Start unit for the rememgram bot
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=30
ExecStart={INSERT-ABS-PATH-TO-PYTHON3} {INSERT-ABS-PATH-TO-REMEMBOT}/__main__.py 2>/dev/null

[Install]
WantedBy=default.target
